@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

nav {
  background-color: #faaf40;
  display: in-line-box;
  margin: 0;
  padding: inherit;
  text-align: center;
  vertical-align:top;
}

.nav-bar > li {
  color: #ffffff;
  display:inline-block;
  padding-right: 50px;
}

.nav-bar > li > a {
  color: #ffffff;
  text-decoration:none;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  float: left;
}
