@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

body {
  background-color: #faaf40;
  color: #ffffff;
}

h1 {
  color: #000000;
  top: 1000px;
  font-family: tablet-gothic-wide, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 100px;
}

nav {
  background-color: #faaf40;
  display: block;
  float: center;
  padding: inherit;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.nav-bar > li {
  color: #ffffff;
  display:inline-block;
  padding-right: 500px;
}

.nav-bar > li > a {
  color: #ffffff;
  text-decoration:none;
}

.logo > img {
  float: center;
  width: 50%;
  height: 50%;
}
